@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  html {
    font-size: 62.5%;
    scroll-behavior: smooth;

  }
  body {
    font-family: "Space Grotesk";
    font-size: 1.6rem;
    background: "#0F1624";
    color: "hsl(204,23.8%,95.9%)";
    cursor: default;

  }
  h1,h2,h3,h4,h5,h6,button {
    font-family: "Space Grotesk";
  }
  a {
    text-decoration: none;
  }
  li{
    list-style: none;
  }
  i{
    height: 24px;
  }
 